<html lang = "EN">
<meta charset = "utf-8">
<title> {{ title }} </title>
<head>

<script src="http://code.jquery.com/jquery-latest.js"></script>

<script>
function loadImage(image_src)
{
    image = document.getElementById('big-image');
    image.src = image_src;
}
</script>

<style type="text/css">
textarea.content {
	height: 500px;
	}
</style>

<style type="text/css">
.border {
	position:relative;
	border:2px solid gray;
	width: 200px;
	float:left;
	margin-right:5px;
	padding:15px;
	}
</style>

{% load staticfiles %}


    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">


</head>
<body>

<div class="container-fluid">
<div class="row-fluid">
  <div class="span2">
  <!-- span1 -->
  <br><br><br><br><br><br><br><br>
  <a href = "" > Clothing </a> <hr>
  <a href = ""> Shoes </a> <hr>
  <a href = ""> Bags </a> <hr>
  <a href = ""> Accessories </a> <hr>
  <a href = ""> Hair Products </a> <hr>
  <a href = ""> Makeup </a> <hr>
  <a href = ""> More </a> <hr>
  </div> 

  <div class="span9">


{% if messages %}
    {% for message in messages %}
	{{ message }}
    {% endfor %}
{% endif %}
<br>


{% if 'user' in request.session %}
    <b> Welcome {{ request.session.user.username }} </b>
    <br>
    <ul class="nav nav-tabs">
    <li class ="active"><a href = "{% url 'africandesigns:home' %}"> Home </a> </li> 
    <li> <a href = "{% url 'africandesigns:add_store' %}"> Add Store </a><li> 
    <li> <a href = "{% url 'africandesigns:my_stores' %}"> My Stores </a><li> 
    <li> <a href = "{% url 'africandesigns:my_orders' %}"> My Orders </a><li> 
    <li> <a href = "{% url 'africandesigns:shipping' %}"> My Account </a><li> 
    {% load app_filters %}
    <li class="pull-right"> {% total_shopping_items2 %} </li>
    <li> <a href = "{% url 'africandesigns:logout' %}"> Logout </a><li> 
{% else %}
    <ul class="nav nav-tabs">
    <li> <a href = "{% url 'africandesigns:signin' %}"> Signin </a><li> 
    <li> <a href = "{% url 'africandesigns:register' %}"> Register </a><li> 
{% endif %}
    </ul>

{% block content %}
{% endblock %}

</body>
</html>
