<html>
<head>

<script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>

<div id = "items">
</div>
<script>
function shopping_cart(a) {
$('#items').load(a + '#target'); 
}


$(window).load(function () {
  shopping_cart("{% url 'africandesigns:shopping_cart' %}");
});



</script>

</body>

</html>

