{% extends "africandesigns/base.html" %}
{% block content %}
<div align = "center">
<a href = "{% url 'africandesigns:shipping' %}" class="btn btn-info btn-small"> Shipping Info </a> 
<a href = "{% url 'africandesigns:edit_account' %}" class="btn btn-info btn-small"> Edit Account Details </a> 
<a href = "{% url 'africandesigns:change_password' %}" class="btn btn-info btn-small"> Change Password </a> <br>
</div>

<h1> Change Password </h1>
<form action = "/africandesigns/change_password/" method = "post" >
{% csrf_token %}
<table>
{{ form.as_table }}
<tr>
<td> <input type = "submit" name = "submit" value = "Submit">  </td>
</tr>
</table>
</form>
{% endblock %}
