{% extends "africandesigns/base.html" %}
{% block content %}
<h1> Shipping Address </h1>
<form action = "{% url 'africandesigns:checkout' store_id=store_id %}" method = "post" >
{% csrf_token %}
<table>
{{ form.as_table }}
<tr>
<td> <input type = "submit" name = "submit" value = "Submit" class="btn btn-small">  </td>
</tr>
</table>
</form>

  <!-- span10 -->
  </div> 

  <div class="span1">
  <!-- span1 -->
  </div> 

<!-- row-fluid -->
</div> 
<!-- container-fluid  -->
</div> 
{% endblock %}


