<html lang = "EN">
<meta charset = "utf-8">
<title> E Content </title>
<head>

{% load staticfiles %}
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">


</head>
<body>

<div class="container-fluid">
<div class="row-fluid">
  <div class="span1">
  <!-- span1 -->
  </div> 

  <div class="span6">
<h2 align = "center"> Updates </h2>
Thank you for joining us!  We are so excited to launch our product.  Create your own e content pages and share with friends.  Remember, you can make your page private or public! <hr>

Reminder to the Freshman Class

Freshman Convocation is Thursday September 12, 2013 at 12:15pm in the Great Hall <hr>

See Tribeca Film Festival entry “Out of Print” at Aaron Davis Hall 5:30 p.m. Tuesday, September 10. <hr>

Join Office of Student Life Leadership and Development at one of the biggest celebration on CCNY campus "WELCOME BACK DAY" on Thursday, August 29 from 12pm-2pm in the NAC Plaza. 

There will be FREE food, music and entertainment. This year we’ve added a new edition: The Gyroscope Machine. Come mingle with current and new CCNY students as well celebrate the beginning of the new academic year 2013-2014. 

*There will be a mini job fair so bring your resumes to submit to recruiters.* <hr>
  <!-- span10 -->
  </div> 

  <div class="span3">
<h2 align = "center"> Feeds </h2>
#Welcome back peeps!
Wow, this app is so awesome!  Creating a page right now! <hr>
Is monday a holiday? <hr>
Free food on Thursday, woohoo! <hr>
Share studying tips here #study
  <!-- span10 -->
  </div> 

  <div class="span1">
  <!-- span1 -->
<h2 align = "center"> Discussions </h2>
  #Welcome <br>
  #study <br>
  </div> 

  <div class="span1">
  <!-- span1 -->
  </div> 

<!-- row-fluid -->
</div> 
<!-- container-fluid  -->
</div> 



</body>
</html>


















