{% extends "africandesigns/base.html" %}
{% block content %}
<h1> Add Store </h1>
<form action = "{% url 'africandesigns:edit_store' store_id=store_id %}" method = "post" >
{% csrf_token %}
<table>
{{ form.as_table }}
<tr>
<td> <input type = "submit" name = "submit" value = "Submit">  </td>
</tr>
</table>
</form>
{% endblock %}
