{% extends "africandesigns/base.html" %}
{% block content %}
<h1> Edit Product </h1>
<form action = "{% url 'africandesigns:edit_product' product_id=product_id %}" method = "post" enctype="multipart/form-data">
{% csrf_token %}
<table>
{{ form.as_table }}
<tr>
<th>Upload up to 3 images:</th>
<td>
<input id="image1" type="file" class="" name="image1" >
</td>
</tr>
<tr>
<th></th>
<td>
<input id="image2" type="file" class="" name="image2">
</td>
</tr>
<tr>
<th></th>
<td>
<input id="image3" type="file" class="" name="image3">
</td>
</tr>
<tr>
<td> <input type = "submit" name = "submit" value = "Submit">  </td>
</tr>
</table>
</form>
{% endblock %}
