{% extends "africandesigns/base.html" %}
{% block content %}



<h1> Welcome!</h1>


{% load staticfiles %}


{% if products|length == 0 %}
   There are no products listed!
{% else %}
<ul class="thumbnails">
    {% for product in products %}
  <li class="span2">
        {% if product.images_set.all|length > 0 %}
	    <div class="thumbnail">
	    {{product.name}} <br>
	    <a href = "{% url 'africandesigns:product' product_id=product.id %}"> <img src = "{% static product.images_set.all.0.image_name %}" alt = "product" width = "260" height = "150"> </a> <br>
	{% else %}
	    <a href = "{% url 'africandesigns:product' product_id=product.id %}"> <img src = "{% static 'dress3.jpg' %}" alt = "product" width = "260" height = "180" > </a> <br>
	{% endif %}
	${{product.price}} <br>
	</div>
  </li>
    {% endfor %}

</ul>

{% endif %}




  <!-- span10 -->
  </div> 

  <div class="span1">
  <!-- span1 -->
  </div> 

<!-- row-fluid -->
</div> 
<!-- container-fluid  -->
</div> 



{% endblock %} 


















