{% extends 'africandesigns/base.html' %}
{% block content %}

Order placed on : {{order.date_ordered}} <br>
Seller: <a href = "{% url 'africandesigns:store' store_id=order.seller.id %}"> {{order.seller.name}} </a> <br><br>

{% if order.shipped %}
   Your order has been shipped to: <br>
{% else %}
   You order has not been shipped yet.  It will be shipped to: <br> 
{% endif %}


{{order.address}} <br>
{{order.city}}, {{order.state}} {{order.zipcode}} <br><br>


{% load staticfiles %}

<b> Products ordered </b> <br>

<ul class="thumbnails">
{% for product in order.orders_products_set.all %}
    <li class="span3">
	<div class="thumbnail">
    <a href = "{% url 'africandesigns:product' product_id=product.get_product.id %}"> {{product.get_product.name}} <br> <img src = "{% static  product.get_product.images_set.all.0.image_name %}" width = "300" height = "200" > </a> <br>
	</div>
  </li>
{% endfor %}
</ul>

  <!-- span10 -->
  </div> 

  <div class="span1">
  <!-- span1 -->
  </div> 

<!-- row-fluid -->
</div> 
<!-- container-fluid  -->
</div> 


{% endblock %}





