{% extends "africandesigns/base.html" %}
{% block content %}
{% load app_filters %}
{% with count=admin_stores|length %}

{% if stores|length|add:count > 0 %}
    <h3> My Stores </h3> 
    {% for store in stores %}
        <a href = "{% url 'africandesigns:store' store_id=store.id %}"> {{ store.name }} </a> <br>
    {% endfor %}
    {% for admin_store in admin_stores %}
        <a href = "{% url 'africandesigns:store' store_id=admin_store.store.id %}"> {{ admin_store.store.name }} </a> <br>
    {% endfor %}
{% else %}
    There are no stores!
{% endif %}
{% endwith %}

  <!-- span10 -->
  </div> 

  <div class="span1">
  <!-- span1 -->
  </div> 

<!-- row-fluid -->
</div> 
<!-- container-fluid  -->
</div> 


{% endblock %}
