{% extends 'africandesigns/base.html' %}
{% block content %}
<div align = "center">
<a href = "{% url 'africandesigns:orders' store_id=store_id %}" class="btn btn-info btn-small"> All Orders </a>
<a href = "{% url 'africandesigns:orders' store_id=store_id order_filter='pending' %}" class="btn btn-info btn-small"> Pending Orders </a>
<a href = "{% url 'africandesigns:orders' store_id=store_id order_filter='fulfilled' %}" class="btn btn-info btn-small"> Fulfilled Orders </a>
</div>
{% if orders|length == 0 %}
    You have no orders 
{% else %}
    <table class="table table-hover">
    <tr>
    <th> Date </th>
    <th> Customer </th>
    <th> Shipped </th>
    <th> Product(s) Cost </th>
    <th> Shipping Cost </th>
    <th> Number of Products </th>
    <th>  </th>
    </tr>
    <tr>
    {% for order in orders %}
       <td> {{order.date_ordered}} </td>
       <td> {{order.buyer.username}} {{order.buyer.first_name}} {{order.buyer.last_name}} </td>
	{% if order.shipped %}
           <td> Yes </td>
	{% else %}
           <td> No </td>
	{% endif %}
       <td> 1 </td>
       <td> 1 </td>
       <td> {{order.orders_products_set.count}} </td> 
       <th> <a href = "{% url 'africandesigns:order' order_id=order.id %}" class="btn btn-info btn-small"> View Order <a/> </th>
    {% endfor %}
    </tr>
{% endif %}

  <!-- span10 -->
  </div> 

  <div class="span1">
  <!-- span1 -->
  </div> 

<!-- row-fluid -->
</div> 
<!-- container-fluid  -->
</div> 
{% endblock %}





