{% extends 'africandesigns/base.html' %}
{% block content %}

Order placed on : {{order.date_ordered}} <br><br>

{% if order.shipped %}
   You have already shipped this order <br><br>
{% else %}
   You have not shipped this order yet.  Click <a href = "{% url 'africandesigns:update_shipping' order_id=order.id %}" > here </a> to update the shipping status only after you have shipped this order!  <br> <br>
{% endif %}


<b> Shipping Information </b> <br>
Customer: {{order.buyer.username}} {{order.buyer.first_name}} {{order.buyer.last_name}} <br>
Address: {{order.address}} <br>
City: {{order.city}} <br>
State: {{order.state}} <br>
Zipcode: {{order.zipcode}} <br>
{% if order.paid %}
   Paid: Yes <br>
{% else %}
   Paid: No <br>
{% endif %}

{% load staticfiles %}

<b> Products ordered </b> <br>

{% for product in order.orders_products_set.all %}
    <a href = "{% url 'africandesigns:product' product_id=product.get_product.id %}"> {{product.get_product.name}} <br> <img src = "{% static  product.get_product.images_set.all.0.image_name %}" width = "150" height = "150" > </a> <br>

{% endfor %}





{% endblock %}





