{% extends 'africandesigns/base.html' %}
{% block content %}
Payment {{order_id}}

  <!-- span10 -->
  </div> 

  <div class="span1">
  <!-- span1 -->
  </div> 

<!-- row-fluid -->
</div> 
<!-- container-fluid  -->
</div> 
{% endblock %}
