{% extends "africandesigns/base.html" %}

{% block content %}

    {% if product.store.owner_id == request.session.user.id %}
	<div align = "center">
	<a href = "{% url 'africandesigns:edit_product' product_id=product.id %}" class="btn btn-info btn-small"> Edit </a> 
	<a href = "{% url 'africandesigns:delete_product' product_id=product.id %}" class="btn btn-info btn-small"> Delete </a> <br>
	</div>
    {% endif %}


<h1> {{ product.name }} </h1>
By <a href = "{% url 'africandesigns:store' store_id=product.store_id %}"> {{product.store.name}} </a> <br><br>
{{product.description}} <br><br>
{% load staticfiles %}

	    <div class="row-fluid">

	    <!-- big image -->
	    <div class="row-fluid">
	    <div class="span8">
	        <img src = "{% static product.images_set.all.0.image_name %}" alt = "product" width = "600" height = "400" class="thumbnail" id = "big-image"> <br>
	    </div>

	    <!-- small image -->
	    <div class="span2">


        {% if product.images_set.all|length > 1 %}


	    {% for image_object in product.images_set.all %}


	        <a onclick = "loadImage('{% static image_object.image_name %}');" href="#"> <img src = "{% static image_object.image_name %}" alt = "product" width = "300" height = "200" class="thumbnail" > </a> 


	    {% endfor %}

	{% endif %}

	    </div>
	    </div>

	    </div>


	${{product.price}} <br>


<a href = "{% url 'africandesigns:add_item_to_cart' product_id=product.id %}" class="btn btn-small"> Add to cart </a> <br>

  <!-- span10 -->
  </div> 

  <div class="span1">
  <!-- span1 -->
  </div> 

<!-- row-fluid -->
</div> 
<!-- container-fluid  -->
</div> 







{% endblock %} 



