{% extends "africandesigns/base.html" %}
{% block content %}
<div id = "target">
<h1> Shopping Cart </h1>
{% load staticfiles %}
{% load app_filters %}
{% if request.session.shopping_cart %}
    {% for store in request.session.shopping_cart %}
        {% if request.session.shopping_cart.store|length > 0 %}
	    {% with store_name=request.session.shopping_cart|get_item:store|get_list_index:0 %}
	    <h3> {{store_name.store.name}} </h3>
    	    <div id = "{{store_name.store.name}}">
	    {% endwith %}
    	    {% for product in request.session.shopping_cart|get_item:store %}
		<a href = "#"> Remove </a> <br>
	    	{{product.name}} <br>
	        <img src = "{% static product.images_set.all.0.image_name %}" alt = "product" width = "150" height = "150" > <br> 
	    	Price:${{product.price}} <br>
     	    </div>



	<input type = "button" onclick = "shopping_cart('{% url 'africandesigns:shopping_cart2' store_id=product.store_id product_index=forloop.counter0 %}');" value = "load2">


    	    {% endfor %}
	{% endif %}
    {% endfor %}
{% else %}
    Your shopping cart is empty
{% endif %}

<input type = "button" onclick = "shopping_cart(a);" value = "load">


<a href="#" onclick="shopping_cart(a);">click me</a>

<div id = "items"> </div>


	<script>
	function shopping_cart(a) {
	$('#items').load(a + '#target'); 
	}
	</script>







<script>


function check(){
$('#b').load('http://api.geonames.org/earthquakesJSON?north=44.1&south=-9.9&east=-22.4&west=55.2&username=isanneh #target');


$.getJSON("http://api.geonames.org/earthquakesJSON?north=44.1&south=-9.9&east=-22.4&west=55.2&username=isanneh", function(data) {
  for(var j = 0; j<data.earthquakes.length; j++)
{
console.log(data.earthquakes[j].lat);
}

});


}



</script>


</div>


{% endblock %}














