{% extends "africandesigns/base.html" %}
{% block content %}
<h1> Shopping Cart </h1>
{% load staticfiles %}
{% load app_filters %}
{% if request.session.shopping_cart %}
    {% for store in request.session.shopping_cart %}
        {% if request.session.shopping_cart|get_item:store|length > 0 %}
	    {% with store_name=request.session.shopping_cart|get_item:store|get_list_index:0 %}
	    <h3> <a href = "{% url 'africandesigns:store' store_id=store_name.store.id %}"> {{store_name.store.name}} </a> </h3> 
	    <ul class="thumbnails">
    	    {% for product in request.session.shopping_cart|get_item:store %}
  		<li class="span3">
	        <div class="thumbnail">

	    	{{product.name}} <br>
	        <a href = "{% url 'africandesigns:product' product_id=product.id %}"> <img src = "{% static product.images_set.all.0.image_name %}" alt = "product" width = "300" height = "200" > </a> <br> 
	    	Price:${{product.price}} <br>

		<input type = "button" onclick = "shopping_cart('{% url 'africandesigns:shopping_cart' store_id=product.store_id product_index=forloop.counter0 %}');" value = "Remove" class="btn btn-small"> <br>
		
		</div>
	        </li>


    	    {% endfor %}
	    </ul>
	    <a href = "{% url 'africandesigns:shipping' %}"> Checkout </a> <br>
	    {% endwith %}
	    Total:${{request.session.shopping_cart|get_item:store|total}}


	{% endif %}
	<hr>
    {% endfor %}
{% else %}
    Your shopping cart is empty
{% endif %}




	<script>
	function shopping_cart(a) {
	$.get(a, display_items);
	}


	function display_items(data) {
	$('body').html(data);
	}

	</script>

  <!-- span10 -->
  </div> 

  <div class="span1">
  <!-- span1 -->
  </div> 

<!-- row-fluid -->
</div> 
<!-- container-fluid  -->
</div> 




{% endblock %}







