{% extends "africandesigns/base.html" %}
{% block content %}
<h1> Signin </h1>
<form action = "/africandesigns/signin/" method = "post">
{% csrf_token %}
<table>
{{ form.as_table }}
<tr>
<td> <input type = "submit" name = "submit" value = "Signin">  </td>
</tr>
</table>
</form>
{% endblock %}
