{% extends "africandesigns/base.html" %}
{% block content %}
<h1> Add Admin </h1>
<form action = "{% url 'africandesigns:store_admin' store_id=store.id %}" method = "post" >
{% csrf_token %}
<table>
{{ form.as_table }}
<tr>
<td> <input type = "submit" name = "submit" value = "Add Admin">  </td>
</tr>
</table>
</form>

<table class="table table-hover">
<tr>
<th> Admin </th>
<th> Email Address </th>
<th> </th>
</tr>
<tr>
<td> {{store.owner.first_name}} {{store.owner.last_name}} </td>
<td> {{store.owner.email}} </td>
{% if store.owner_id == request.session.user.id %}
    <td> Store Owner(You) </td>
{% else %}
    <td> Store Owner </td>
{% endif %}
</tr>

{% for admin in store.admins_set.all %}
    <tr>
    <td> {{admin.admin.first_name}} {{admin.admin.last_name}} </td>
    <td> {{admin.admin.email}} </td>
    {% if admin.admin_id == request.session.user.id %}
        <td> You </td>
    {% elif store.owner_id == request.session.user.id %}
        <td> <a href = "{% url 'africandesigns:remove_admin' admin_id=store.id %}"> Remove </a> </td>
    {% else %}
        <td> </td>
    {% endif %}
    </tr>
{% endfor %}
</table>
    
{% endblock %}









