{% extends "africandesigns/base.html" %}
{% block content %}

<style type="text/css">
.cover
{
	
	padding:12px;


	width= "100%";
	
background-color:#fcfcfc;
border:1px solid white;
	color:#888;
	margin-bottom:25px;

-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;

	-moz-box-shadow:2px 2px 0 #c2c2c2;
	-webkit-box-shadow:2px 2px 0 #c2c2c2;
	box-shadow:2px 2px 0 #c2c2c2;
	
}
</style>

<style type="text/css">
div.img
{
  margin: 2px;
  border: 1px solid blue;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
}   
div.img img
{
  display: inline;
  margin: 3px;
  border: 1px solid blue;
}
div.img a:hover img {border: 1px solid yellow;}
div.desc
{
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 2px;
}
</style>

{% if store.owner_id == request.session.user.id %}
    <div align = "center">
    <a href = "{% url 'africandesigns:edit_store' store_id=store.id %}" class="btn btn-info btn-small"> Edit </a> 
    <a href = "{% url 'africandesigns:add_product' %}" class="btn btn-info btn-small"> Add Product </a>
    <a href = "{% url 'africandesigns:orders' store_id=store.id %}" class=" btn btn-info btn-small"> Orders </a> 
    <a href = "{% url 'africandesigns:store_admin' store_id=store.id %}" class=" btn btn-info btn-small"> Admins </a> 
    </div>

{% elif is_admin %}
    <div align = "center">
    <a href = "{% url 'africandesigns:edit_store' store_id=store.id %}" class="btn btn-info btn-small"> Edit </a> 
    <a href = "{% url 'africandesigns:add_product' %}" class="btn btn-info btn-small"> Add Product </a>
    <a href = "{% url 'africandesigns:orders' store_id=store.id %}" class=" btn btn-info btn-small"> Orders </a> 
    <a href = "{% url 'africandesigns:store_admin' store_id=store.id %}" class=" btn btn-info btn-small"> Admins </a> 
    </div>

{% endif %}



<h1> Welcome to {{ store.name }}</h1>
{{ store.description }} <br>


{% load staticfiles %}



<script src="{% static 'css/holder.js' %}"></script>

{% if products|length == 0 %} 
   You have no products listed!
{% else %}
<ul class="thumbnails">
    {% for product in products %}
  <li class="span3">
        {% if product.images_set.all|length > 0 %}
	    <div class="thumbnail">
	    {{product.name}} <br>
	    <a href = "{% url 'africandesigns:product' product_id=product.id %}"> <img src = "{% static product.images_set.all.0.image_name %}" alt = "product" width = "200" height = "200"> </a> <br>
	{% else %}
	    <a href = "{% url 'africandesigns:product' product_id=product.id %}"> <img src = "{% static 'dress3.jpg' %}" alt = "product" width = "200" height = "200" > </a> <br>
	{% endif %}
	${{product.price}} <br>
	</div>
  </li>
    {% endfor %}
{% endif %}
</ul>


  <!-- span10 -->
  </div> 

  <div class="span1">
  <!-- span1 -->
  </div> 

<!-- row-fluid -->
</div> 
<!-- container-fluid  -->
</div> 



{% endblock %} 

















